<!-- Modal -->
<div class="modal fade" id="clModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Company License - $499 per administrator</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12 row-space-6">

            A <strong>Company License</strong> will activate <string>SPDash</string> to be used on an unlimited number of site collections throughtout your organization. After the 14 day trial period a license is required to continue using SPDash within your organization. The steps below outline how to acrivate SPDash.

            <hr>

            <ul>
              <li><strong>Step 1.</strong> Install SPDash in your site collection</li>
              <li><strong>Step 2.</strong> We'll provide you with a company license</li>
              <li><strong>Step 3.</strong> Reuse license for all site collections</li>
            </ul>

          </div>
          <!-- <div class="col-xs-12 col-sm-7"><%#= render partial: 'home/modals/paymentForm', locals: {price: 999} %></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
