<!-- Modal -->
<div class="modal fade" id="slModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Site Collection License - $299 per Site Collection</h4>
      </div>
      <div class="modal-body">

        <div class="row">
        <div class="col-xs-12 col-sm-6 row-space-6">

            A <strong>Site Collection License</strong> will activate <strong>SPDash</strong> on 1 site collection in your SharePoint environment. After the 14 day trial period a license is required to continue using SPDash within a specific site collection. The steps below outline how to activate SPDash.

            <hr>

            <ul>
              <li><strong>Step 1.</strong> Make a payment indicating the number of licenses you require. </li>
              <li><strong>Step 2.</strong> Email activate@spdash.com with the receipt number and the CHALLENGE CODE for each site collection. </li>
              <li><strong>Step 3.</strong> Receive Activation license and activate SPDash on each site collection.</li>
            </ul>
          </div>


          <div class="col-xs-12 col-sm-6">
            <%= render 'home/modals/paymentForm' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
