<header id='banner'>
  <div class="intro-text">
    <div class="intro-heading">SitnWork at Carleton</div>
    <div class="intro-lead-in">The preferred platform of the Carleton Lead Accerlerator at Carleton University</div>
  </div>
</header>
