<!-- Feature Modals -->
<!-- Use the modals below to showcase details about your feature projects! -->

<!-- Feature Modal 1 -->
<div class="feature-modal modal fade" id="featureModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Availability Search</h2>
                        <p class="item-intro text-muted">Simply search and filter to find what's available when you need it</p>
                        <img class="img-responsive img-centered img-rounded img-thumbnail" src="assets/feature/sw-search.gif" alt="">
                        <p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature Modal 2 -->
<div class="feature-modal modal fade" id="featureModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <h2>In-Calendar Booking</h2>
                        <p class="item-intro text-muted">Interactive booking through our drag-and-drop calendar</p>
                        <img class="img-responsive img-centered img-rounded img-thumbnail" src="assets/feature/sw-in-cal-booking.gif" alt="">
                        <p>.</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature Modal 3 -->
<div class="feature-modal modal fade" id="featureModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Space and Asset Management</h2>
                        <p class="item-intro text-muted">Flexibile management for your spaces, assets and amenities</p>
                        <img class="img-responsive img-centered img-rounded img-thumbnail" src="assets/feature/sw-asset-mgmt.gif" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature Modal 4 -->
<div class="feature-modal modal fade" id="featureModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>User Access Control</h2>
                        <p class="item-intro text-muted">Custom user access levels for booking types and durations</p>
                        <img class="img-responsive img-centered img-rounded img-thumbnail" src="assets/feature/sw-permissions.PNG" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature Modal 5 -->
<div class="feature-modal modal fade" id="featureModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Usage Statics</h2>
                        <p class="item-intro text-muted">Comprehensive usage statistics to help you plan for the future</p>
                        <img class="img-responsive img-centered img-rounded img-thumbnail" src="assets/feature/sw-usage-stats.gif" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feature Modal 6 -->
<div class="feature-modal modal fade" id="featureModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>User Management</h2>
                        <p class="item-intro text-muted">Quickly and easily create and manage your users</p>
                        <img class="img-responsive img-centered img-rounded img-thumbnail" src="assets/feature/sw-user-mgmt.gif" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
