<!-- Footer -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 text-left">
      <ul class="quicklinks">
          <!-- <li><a href="#">Terms of Service</a></li> -->
          <!-- <li><a href="#">Privacy Policy</a></li> -->
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <span class="copyright">Copyright &copy; K-Sim Consulting Inc. 2016</span>
      </div>
    </div>
  </div>
</footer>
