<!-- Header -->
<header>
  <div class="container-fluid">
    <div class="intro-text col-xs-12 col-sm-11 col-md-8">
      <div class=""><!-- Class added for full width text -->
        <div class="intro-heading"><span>Simplified SharePoint management</span></div>
        <div class="intro-lead-in">Speed up SharePoint user and site management with batch operations.</div>
      </div>

      <a href="#contact" class="page-scroll btn btn-xl btn-primary">Try now</a>
      <a href="#intro" class="page-scroll btn btn-xl btn-white">Learn more</a>

    </div>
  </div>
</header>
