<!-- Header -->
<header>
  <div class="container-fluid">
    <div class="intro-text col-xs-12 col-sm-11 col-md-8">
      <div class=""><!-- Class added for full width text -->
        <div class="intro-heading"><span>Simplified SharePoint management</span></div>
        <div class="intro-lead-in">Speed up SharePoint management with batch operations</div>
      </div>

      <a href="#intro" class="page-scroll btn btn-xl btn-white">Learn more</a>
      <a href="http://bit.ly/spdash-mar16" class="page-scroll btn btn-xl btn-download">Download 14 day Trial</a>

    </div>
  </div>
</header>
