<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class=""><!-- Class added for full width text -->
        <div class="intro-heading">Utilize your space</div>
        <div class="intro-lead-in">Simple space and asset management with sit&work</div>
      </div>
      <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header>
