<!-- Services Section -->
<section id="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="section-heading">What is SpDash?</h2>
        <h3 class="section-subheading">Essential application for SharePoint Administrators</h3>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6 preview row-space-2">
        <!-- Video Preview -->
        <div class="wistia_responsive_padding" style="padding:62.5% 0 28px 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_vfe1zaxg6s popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div>
        </div>
      </div>
    </div>
</section>
