<!-- Services Section -->
<section id="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="section-heading">What is SpDash?</h2>
        <h3 class="section-subheading text-muted">SharePoint application for the lazy administrator.</h3>
      </div>
    </div>
    <div class="vertical-align">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-6 preview">
          <iframe src="https://drive.google.com/file/d/0B02dL9XqcJg5ZWw5WnpNQ3VWSDA/preview"></iframe>
        </div>
        <div class="col-xs-12 col-sm-6 details">
          <div class="row">
            <div class="col-xs-12 feature-container">
              <div class="row vertical-align">
                <div class="col-xs-3 text-center feature-icon">
                  <i class="fa fa-rocket fa-fw"></i>
                </div>
                <div class="col-xs-8 feature">
                  <p class="feature-title h3">Batch Operations</p>
                  <p class="feature-content">Easily manage users and groups with batch operations. Add or remove multiple users from groups at once. Create multiple groups in one shot.
                </div>
              </div>
            </div>
            <div class="col-xs-12 feature-container">
              <div class="row vertical-align">
                <div class="col-xs-3 text-center feature-icon">
                  <i class="fa fa-globe fa-fw"></i>
                </div>
                <div class="col-xs-8 feature">
                  <p class="feature-title h3">Site Management</p>
                  <p class="feature-content">Get an overview of all sites in your collection. Create and manage multiple site lists. Track which users can access your sites.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 feature-container">
              <div class="row vertical-align">
                <div class="col-xs-3 text-center feature-icon">
                  <i class="fa fa-bar-chart fa-fw"></i>
                </div>
                <div class="col-xs-8 feature">
                  <p class="feature-title h3">Reporting</p>
                  <p class="feature-content">Access various reports to help you make
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
