<!-- Services Section -->
<section id="pricing">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 text-center">
              <h2 class="section-heading">Pricing</h2>
              <h3 class="section-subheading">Get your license today to enjoy SPDash</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <table id="pricing-table" class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Site Collection License</td>
                        <td>$99</td>
                    </tr>
                    <tr>
                        <td>Company License</td>
                        <td>$499</td>
                    </tr>
                    <tr>
                        <td>Consultant License</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
