<!-- Services Section -->
<section id="pricing">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 text-center">
              <h2 class="section-heading">Pricing</h2>
              <h3 class="section-subheading">Get your license today to enjoy SPDash</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <table id="pricing-table" class="table table-responsive table-hover">
                <tbody>
                    <tr id="site-license" data-toggle="modal" data-target="#slModal">
                        <td>Site Collection License</td>
                        <td class="text-center">$299</td>
                    </tr>
                    <tr id="company-license" data-toggle="modal" data-target="#clModal">
                        <td>Company License </td>
                        <td class="text-center">$999</td>
                    </tr><!--
                    <tr id='referral-license' data-toggle="modal" data-target="#rlModal">
                        <td>Referal Program</td>
                        <td class="text-center">Earn with us</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</section>

<%= render 'home/modals/siteLicense' %>
<%= render 'home/modals/companyLicense' %>
<%= render 'home/modals/referralProgram' %>
