<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.min.js"></script>

<!-- License Generator -->
<section id="activation">
  <div class="container-fluid">
    <div class="row">
      <!-- Enter Challenge Code -->
      <div class="col-xs-offset-4 col-xs-4">
        <p>Enter Challenge Code</p>
        <textarea id="challenge" name="challenge" class="form-control" rows=5 ></textarea>
      </div>

      <!-- Generate License Button -->
      <div class="col-xs-offset-4 col-xs-4 row-space-6 text-right">
        <button id="generate" type="button" class="btn btn-xl btn-white row-space-top-3">Generate License</button>
      </div>
    </div>

    <!-- Generated License -->
    <div class="col-xs-offset-4 col-xs-4">
      <p>User License</p>
      <textarea id="license" readonly name="challenge" class="form-control" rows=20 ></textarea>
    </div>
  </div>
</section>
