i.form-control-feedback.fv-icon-no-label.fa.fa-check {
  top: 3px;
  left: -15px;
  color: white;
}
i.form-control-feedback.fv-icon-no-label.fa.fa-times {
  top: 3px;
  left: -15px;
  color: color("orange","lighten-1");
}
.help-block {
  color: color("orange","lighten-1");
  font-size: 1.3rem;
}
.btn-download {
  background: #ff0080;
  color: white;

  &:hover {
    border-color: #ab0056;
    background-color: #ab0056;
  }
}
